
    * {
        margin: 0;
        padding: 0;
    }
    #root {
        position: relative;
        height: 800px;
        overflow: hidden;

    }
    #tree {
        height: 1800px;
        width: 100%;
        position: absolute;
        left: 100px;
        cursor: -webkit-grab;
    }
    .node {
        position: absolute;
        border: solid 1px rgb(115, 161, 191);
        border-radius: 4px;
        height: 20px;
        line-height: 20px;
        padding: 3px;
        background: rgb(238, 243, 246);
        cursor: default;
    }
    .node img {
        cursor: pointer;
    }
    #properties {position: relative;}
    .property {
        position: absolute;
        padding: 5px;
        min-width: 200px;
        z-index: 10;
        font-size: 12px;
        line-height: 30px;
        box-shadow: 1px 1px 10px rgba(0,0,0,.3);
        background: white;
        border-radius: 4px;
        display: none;


    }
    .property ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .property ul li {
        height: 30px;
        cursor: default;
    }
    .active {
        background-color: #FFE6B0;
        border: 1px #FFB951 solid;
    }


    /* Resets */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
    :focus {outline: 0;}
    body {color: #2f332a;font: 15px/21px Arial, Helvetica, simsun, sans-serif;background: #528036 url(img/background.jpg) no-repeat fixed 0 0;}
    p {padding-bottom: 20px;}
    ol, ul {list-style: none;}
    table {border-collapse: separate;border-spacing: 0;}
    caption, th, td {text-align: left;font-weight: normal;}
    strong {font-weight: bold;}
    em {font-style: italic;}
    hr {display: none;}
    .font1 {color: white;background-color: #528036;}
    .right {float: right;}
    .left {float: left;}
    .hide {display: none;}
    .round {-moz-border-radius: 15px;-webkit-border-radius: 15px;-khtml-border-radius: 15px;border-radius: 15px;}
    .clear {clear: both;}
    .clearfix {display: block;}
    .clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
    html[xmlns] .clearfix {display: block;}
    * html .clearfix {height: 1%;}

    /* Link Styles */
    a {color: #528036;}
    a:link, a:visited {text-decoration: none;}
    a:hover {color: #000;text-decoration: none;}
    a:active {text-decoration: none;}

    /* Headings */
    h1, h2, h3, h4, h5, h6 {color: #2f332a;font-weight: bold;font-family: Helvetica, Arial, simsun, sans-serif;padding-bottom: 5px;}
    h1 {font-size: 36px;line-height: 44px;}
    h2 {font-size: 20px;line-height: 20px;}
    h3 {font-size: 14px;line-height: 14px;}
    h4 {font-size: 14px;font-weight: normal;line-height: 25px;}



    .baby_overlay_tmp {position: absolute;top:0; left:-5000px;display:block;visibility: hidden;width:640px;font-size:11px;}
    .baby_overlay_tmp .details {padding: 20px;}
    .baby_overlay {display:none;position:absolute;z-index:99;left:0; top:0;width:640px;color:#fff;font-size:11px;}
    .baby_overlay .content {width:100%; height:100px;overflow: hidden;background: transparent url(img/overlay_bg.png) scroll repeat 0 0;}
    .baby_overlay .details {padding:0 20px 20px 20px;}
    .baby_overlay .close {background-image:url(img/close.png);position:absolute; right:5px; top:5px;cursor:pointer;height:36px;width:36px;}
    .baby_overlay_arrow {background-image:url(img/overlay_arrow.png);background-position:0 0;position:absolute;height:40px;width:40px;left: -40px;}
    .baby_overlay_arrow.reverse {background-position:0 -40px;}

    /* button icon */
    button {vertical-align:middle;border:0 none;background: transparent no-repeat 0 0 scroll;}



    /* api overlay*/
    .apiDetail .topLine {border-top: 1px dashed #376B29;margin-top: 5px;padding-top: 5px;}
    .apiDetail .highlight_red {color:#A60000;}
    .apiDetail .highlight_green {color:#A7F43D;}
    .apiDetail h1, .apiDetail h2, .apiDetail h3, .apiDetail h4, .apiDetail h5, .apiDetail h6 {color: white;padding: 0;}
    .apiDetail h2 {color: #A7F43D;margin: 5px auto;padding: 5px;font-size: 20px;}
    .apiDetail h2 span {font-size: 14px;float: right;font-weight: normal;margin: 2px 20px 0 0;vertical-align: bottom;}
    .apiDetail h2 span.path {float: left;margin: 2px 0 0 0;vertical-align: bottom;}
    .apiDetail h3 {margin: 5px auto;padding: 5px;font-size: 14px;font-weight: normal;}
    .apiDetail h3 span.h3_info {margin-left: 20px;font-size: 12px;}
    .apiDetail h4 {margin: 0 auto;padding: 0 5px;font-size: 12px;font-weight: normal;line-height: 16px;}
    .apiDetail .desc h4 {color: black;}
    .apiDetail h4 b{width: 150px;display:inline-block;}
    .apiDetail h4 span{width: 230px;display:inline-block;}

    .apiDetail pre, .apiDetail .desc {background: #E8FCD6;color: black;margin: 10px;padding: 10px;display: block;}
    .apiDetail pre {word-wrap: break-word;}
    .apiDetail p{margin-left: 5px;padding: 0;}
    .apiDetail .longdesc {margin-top: 5px;}
    .apiDetail .longdesc p{font-size: 12px;line-height:1.5;margin:3px 0;}
    .apiDetail .longdesc b{font-size: 14px;}
    .apiDetail table {border-collapse:collapse;}
    .apiDetail table td {border:1px solid silver;text-align: center;vertical-align: middle;}
    .apiDetail table thead td {font-weight: bold}

    .apiDetail button {width:16px; height:16px; vertical-align:middle; border:0 none; cursor: pointer;
        background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
        background-image:url("zTreeStyle/img/zTreeStandard.png");}

    .apiDetail button.chk {width:13px; height:13px; margin:0 3px 2px 0; cursor: auto}
    .apiDetail button.chk.checkbox_false_full {background-position:0 0}
    .apiDetail button.chk.checkbox_false_full_focus {background-position:0 -14px}
    .apiDetail button.chk.checkbox_false_part {background-position:0 -28px}
    .apiDetail button.chk.checkbox_false_part_focus {background-position:0 -42px}
    .apiDetail button.chk.checkbox_true_full {background-position:-14px 0}
    .apiDetail button.chk.checkbox_true_full_focus {background-position:-14px -14px}
    .apiDetail button.chk.checkbox_true_part {background-position:-14px -28px}
    .apiDetail button.chk.checkbox_true_part_focus {background-position:-14px -42px}
    .apiDetail button.chk.radio_false_full {background-position:-28px 0}
    .apiDetail button.chk.radio_false_full_focus {background-position:-28px -14px}
    .apiDetail button.chk.radio_false_part {background-position:-28px -28px}
    .apiDetail button.chk.radio_false_part_focus {background-position:-28px -42px}
    .apiDetail button.chk.radio_true_full {background-position:-42px 0}
    .apiDetail button.chk.radio_true_full_focus {background-position:-42px -14px}
    .apiDetail button.chk.radio_true_part {background-position:-42px -28px}
    .apiDetail button.chk.radio_true_part_focus {background-position:-42px -42px}