{include file="../public/header.html"}
<link rel="stylesheet" href="/admin/css/view-builder.css" media="all">

<div class="layui-main">
	<div class="left-box">
		<ul class="utilityCol">
			<li class="utility" id="id_singleLine"><span class="title">文本输入框</span><span class="formOption formOption_text"></span></li>
			<li class="utility" id="id_multiple"><span class="title">多行文本框</span><span class="formOption formOption_multiple"></span></li>
			<li class="utility" id="id_dropDown"><span class="title">下拉菜单</span><span class="formOption formOption_dropDown"></span></li>
			<li class="utility" id="id_date"><span class="title">日期</span><span class="formOption formOption_data"></span></li>
			
			<li class="utility" id="id_checkBox"><span class="title">多选框</span><span class="formOption formOption_checkbox"></span></li>
			<li class="utility" id="id_radio"><span class="title">单选框</span><span class="formOption formOption_radio"></span></li>
			
			<li class="utility" id="id_fileUpload"><span class="title">附件</span><span class="formOption formOption_fileUpload"></span></li>
			
			<li class="utility" id="id_multiple"><span class="title">编辑器</span><span class="formOption formOption_multiple"></span></li>
			<li class="utility" id="id_number"><span class="title">纯文本</span><span class="formOption formOption_number"></span></li>
			<li class="clearB"></li>
		</ul>
		<div class="layui-clear"></div>
		<div class="components-edit">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
			  <legend>编辑</legend>
			</fieldset>

			<div class="components-props">
				名&nbsp;&nbsp;称：<input class="component-title" /><br />
				name：<input class="component-name" /><br />
				宽&nbsp;&nbsp;度：<input  class="component-width" size="4" /> %<br />
				是否必填：<input  class="component-required" type="checkbox" /><br />
				搜索框：<input  class="component-search" type="checkbox" /><br />
			</div>
			 
			<div class="layui-form-item">
			  <button class="layui-btn save-form">保存表单</button>
		    </div>
		</div>
	</div>
	
	
	
	
	
	
	
	<div class="right-box">
	
	
		<form class="layui-form" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" />	
									 
			<div class="layui-form-item" hash="item-0">
				<div class="deleteButton"></div>
				<label class="layui-form-label layui-input-required">文本框</label>
				<div class="layui-input-block" style="width:50%">
					<input type="text" name="name"  lay-verify="required" autocomplete="off"  class="layui-input form-item">
				</div>
			</div>
			

		  
		  
		  <div class="clear form-end"></div>
		  

		  <div class="layui-form-item">
			<div class="layui-input-block">
			  <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		  </div>
		 </form>

	</div>
	
</div>




<div class="layui-clear"></div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
  <legend>列表页</legend>
</fieldset>
<div class="layui-main data-list">

            <div class="search-form">
            <div class="layui-input-inline">
						<a href="javascript:;" class="layui-btn add" ><i class="layui-icon">&#xe608;</i> 添加</a>
                    </div>
			</div>
            <table class="layui-table" lay-skin="row">
                    <thead>
                    <tr class="table-head">
                        <th field="id" style="width: 30px;"><div class="deleteButton"></div>ID</th>
                        <th field="name" hash="item-0"><div class="deleteButton"></div>文本框</th>
                        <th field="create_time" id="th-end"><div class="deleteButton"></div>添加时间</th>
                        <th id="th-end">操作</th>
                    </tr>
                    </thead>
                    <tbody>
					       
                	</tbody>
                </table>
            <div id="page" ></div>
        
</div>
<script  src="/admin/js/lib/jquery-ui.js"></script>

<script>
layui.use('view-builder');
</script>
{include file="../public/footer.html"}


